<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - demo</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    @* <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.min.css" /> *@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/demo.styles.css" asp-append-version="true" />
</head>
<body>
           <div class="navv position-fixed fixed-top">
                <div class="nav-menuu flex-row">
                    <div class="nav-brandd">
                        <i class="text-gray"><p class="py-2 bg-succes"><img  class=" " src="asset/cropped.png" width="200px"></p></i>
                    </div>
                    
                    <div class="mt-2">
                        <ul class="nav-items">
                            <li class="nav-link">
                            <a href="./">HOME</a>
                            </li>
                            <li class="nav-link service">
                              <a asp-controller="Home" asp-action="Service"> SERVICE</a> 
                            </li>
                           
                            <li class="nav-link about" >
                                <a class=" "  asp-controller="Home" asp-action="About"> ABOUT US</a>
                            </li>
                            <li class="nav-link contact">
                           <a >CONTACT US</a> 
                            </li>
                        </ul>
                    </div>
                    <div class="social text-gray">
                        <a class="btn btn-outline-warning pl-4 pr-4" href="/business/Login">Login</a>
                        <a class="btn btn-outline-secondary pl-4 pr-4" href="/business/Register">Register</a>
                        
                    </div>
                </div>
            </div>    
   
            @RenderBody()
        @* </main>
    </div> *@

        
    </div>

   <!-- end footer -->

</div>

       
</main>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
